/*@media screen and (min-width: 500px) and (max-width: 1120px) {*/
@media screen and (min-width: 623px) and (max-width: 1139px) {
    body {
        font-size: 0.9em;
    }

    /*.main-section2 h2 {*/
    /*    margin-top: 0;*/
    /*    margin-bottom: 0;*/

    /*    padding-top: 0;*/
    /*    padding-bottom: 0;*/
    /*}*/

    /*.main-section2-div2 {*/
    /*    margin-top: 0;*/
    /*}*/

    /*.header-div > article > p {*/
    /*    margin-top: 0;*/
    /*    margin-bottom: 0;*/
    /*}*/


    .body-div {
        /*height: calc(432.910156vh + 70.6521739vh);*/
        min-height: 432.910156vh;
        height: auto;
    }

    header {
        height: auto;
    }

    .header-div {
        /*flex-wrap: wrap;*/
    }

    main {
        position: static;
        top: 0;
        /*top: -3.3%;*/
    }
    .footer-section1 {
        position: static;
        top: 0;
    }

    .header-div > article {

        padding-top: 0;
    }



}