/*@media screen and (min-width: 500px) and (max-width: 1120px) {*/
@media screen and (min-width: 647px) and (max-width: 1139px) {
/*@media screen and (min-width: 623px) and (max-width: 1139px) {*/
    body {
        font-size: 17px;
    }

    .body-div {
        min-height: 432.910156vh;
        height: auto;
    }

    header {
        height: auto;
    }

    .nav-div2-a4 {
        margin-left: 5px;
    }


    main {
        position: static;
        top: 0;
        height: auto;
    }

    .main-section1 {
        height: auto;
    }

    .footer-section1 {
        position: static;
        top: 0;
    }

    .header-div > article {

        padding-top: 0;
    }


    .main-section2 {
        height: auto;
    }

}